* {
    margin: 0;
    padding: 0;
}

/* ------------ Nav ------------ */

#nav-bar {
    display: flex;
    justify-content: space-between;

    background-color: red;

    height: 2.2rem;
}

#nav-links {
    padding-right: 0.5rem;
}

#title {
    padding-top: 0.2rem;
}

.nav-padding {
    padding: 0.5rem 0 0 0.5rem;
}

.nav-item {
    margin-right: 20px;
}